fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
alembic
psycopg2-binary

redis
minio

python-jose[cryptography]
passlib[bcrypt]
python-multipart

ultralytics
opencv-python
pillow

langchain
langgraph
openai

pytest
httpxcd 